﻿@model Orchard.Candidate.Net.Areas.Dashboard.Models.HomeViewModel
@{
    ViewBag.Title = "User Home Page";
}
<h2>@ViewBag.Title.</h2>

<h3>Hi <strong>@Model.Username</strong>, here are your latest posts:</h3>

<div id="posts-container">
    <div class="loader">
        <span>Loading...</span>
    </div>

    <ul></ul>
</div>

<a href="#" data-user-id="@Model.Id" class="btn btn-primary js-update-posts">Older Posts</a>

@section scripts
{
    <script src="/Scripts/posts.js"></script>
    <script>
        $(document).ready(function() {
            posts.updatePosts($(".js-update-posts").attr("data-user-id"));

            $(".js-update-posts").click(function(e) {
                e.preventDefault();
                posts.updatePosts($(e.target).attr("data-user-id"));
            });
        });
    </script>
}